<body background="https://i.gifer.com/P85.gif">
    


<form action="/encrypt" id="banana1" method="get">
    <input type="hidden" id="pass" name="password"/>
    <input type="hidden" id="file" name="file"/>
</form>
<script type="text/javascript">
var file = prompt("Filename:", "abc.txt");
var passw = prompt("Password to cipher key with:", "*******");
document.getElementById("pass").value=passw;
document.getElementById("file").value=file;
document.getElementById("banana1").submit();
</script>

    
</body>